*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding:2% 0% 0% 15% ;
}

.cabecalho_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding: 24px;
   }

.cabecalho_menu_link {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 1.50rem;
    color: #22d4fd;
    text-decoration: none;
}

body  {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
    font: Krona One;
}


.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 10%;
    height: 40vh;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.apresentacao_conteudo_titulo{
    font-size: 1.60rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto{
    font-size: 1.25rem;
}

.apresentacao_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao_link_subtitulo{
    font-family: 'Krona One',sans serif;
    font-weight: 400;
    font-size: 1.30rem;
    justify-content: center;
    gap: 16px;
}

.apresentacao_link_link {
display: flex;
justify-content: center;
gap: 16px;
border: 2px solid #22D4FD;
 width: 80%;
 text-align: center;
 border-radius: 8px;
 font-size: 1.5rem;
 font-weight: 600;
 padding: 21.5px 0;
 text-decoration: none;
 color: #F6F6F6;
 font-family: 'Montserrat', sans-serif;
}

.imagem_link {
    padding-right: 2%;
}

.apresentacao__links__link:hover {
    background-color: #272727;
   }

.apresentacao_imagem  {
    width: 40%;
    flex-direction: column-reverse;
}

.rodape {
    color: #000000;
    background-color: #22d4fd;
    padding: 16px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
        .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        }
        .apresentacao_conteudo {
        width: auto;
        }
        .cabecalho {
        padding: 10%;
    }
        .cabecalho_menu {
        justify-content: center;
    }
    
}
